---
import Layout from '../../layouts/Layout.astro'
import FormattedDate from '../../components/FormattedDate.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const blogEntries = await getCollection('blog');
  return blogEntries.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---
<Layout title={entry.data.title}>
	<h1 slot="heading" class="font-serif text-4xl lg:text-5xl text-white">{entry.data.title}</h1>

  <p class="mb-4 text-slate-700 text-base"><strong>Posted</strong>: <FormattedDate date={entry.data.pubDate} /></p>

  <div class="prose prose-slate prose-a:no-underline prose-a:border-b-2 prose-a:border-b-slate-200 hover:prose-a:border-b-slate-950 prose-a:transition prose-a:ease-linear prose-a:duration-200">
    <Content />
  </div>
</Layout>

