---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import headshot from '../images/headshot.jpeg';
import Layout from '../layouts/Layout.astro';
import Link from '../components/Link.astro';
import PostsList from '../components/PostsList.astro';

const posts = await getCollection('blog')
---

<Layout title="Home">
	<h1 slot="heading" class="font-serif text-4xl lg:text-5xl text-white">👋 Hey, I'm Slate!</h1>

	<article>
		<section class="mb-12 grid grid-flow-col gap-4">
			<div>
				<p class="mb-4">I'm a starter template for the static site generator <Link href="https://astro.build/" target="_blank">Astro</Link>. I'm was built using Typescript and TailwindCSS and come with <Link href="https://docs.astro.build/en/guides/rss/#_top" target="_blank">RSS</Link>, <Link href="https://docs.astro.build/en/guides/integrations-guide/sitemap/" target="_blank">Sitemap</Link>, and <Link href="https://github.com/alextim/astro-lib/tree/main/packages/astro-robots-txt" target="_blank">Robots.txt</Link> integrations.</p>
			</div>
		</section>

		<section class="mb-12">
			<h2 class="text-3xl font-serif border-b-slate-200 border-b-4">Articles</h2>

			<PostsList posts={posts} />
		</section>
		<section>
			<h2 class="text-3xl font-serif border-b-slate-200 border-b-4">Projects</h2>
			<ul>
				<li class="my-2"><Link href="#" target="_blank">Project 1</Link> - Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
				<li class="my-2"><Link href="#" target="_blank">Project 2</Link> - Nullam aliquam viverra nibh, sed posuere turpis cursus sit amet</li>
				<li class="my-2"><Link href="#" target="_blank">Project 3</Link> - Pellentesque aliquam tortor scelerisque lacinia mollis</li>
			</ul>
		</section>
	</article>
</Layout>
