---
import Layout from '../layouts/Layout.astro'
import Link from '../components/Link.astro'
---

<Layout title="Uses">
	<h1 slot="heading" class="font-serif text-4xl lg:text-5xl text-white">🖥️ Uses</h1>

	<article>
		<section>
			<p class="mb-4">After getting inspired from <Link href="https://uses.tech/">Uses.tech</Link>, here's a list of tech I use regularly.</p>
			<p class="mb-4"><strong>Last Updated</strong>: December 20, 2023</p>
			<h4 class="mt-8 font-serif text-3xl">Hardware</h4>
			<ul>
				<li><strong>Desk</strong>: <Link href="https://store.hermanmiller.com/standing-desks/jarvis-bamboo-standing-desk/2542428.html?lang=en_US" target="_blank">Jarvis Bamboo Standing Desk</Link></li>
				<li><strong>Headphones</strong>: <Link href="https://www.sony.com/electronics/headband-headphones/wh-1000xm3" target="_blank">Sony WH-1000XM3</Link></li>
				<li><strong>Keyboard</strong>: <Link href="https://www.zsa.io/moonlander" target="_blank">ZSA Moonlander</Link></li>
				<li><strong>Laptop</strong>: 13" MacBook Air
					<ul>
						<li>M2 2022</li>
						<li>8 GB Memory</li>
						<li>256 GB Storage</li>
					</ul>
				</li>
				<li><strong>Laptop Stand</strong>: <Link href="https://www.raindesigninc.com/mstand.html" target="_blank">Rain mStand</Link></li>
				<li><strong>Monitor</strong>: <Link href="https://www.amazon.com/gp/product/B07MKT2BNB/ref=ppx_yo_dt_b_asin_title_o00_s00?ie=UTF8&psc=1" target="_blank">LG 27UL650</Link></li>
				<li><strong>Mouse</strong>: <Link href="https://www.amazon.com/Anker-Ergonomic-Optical-Vertical-Buttons/dp/B00FPAVUHC" target="_blank">Anker Vertical Mouse</Link></li>
				<li><strong>Phone</strong>: <Link href="https://www.apple.com/iphone-xr/specs/" target="_blank">iPhone 15 Pro</Link></li>
			</ul>
		</section>
	</article>
</Layout>
<style>
ul {
	list-style-type: disc;
	margin-bottom: 16px;
	margin-top: 16px;
}

li {
	margin-bottom: 1px;
	margin-left: 24px;
}

li ul {
	margin-bottom: 0;
	margin-top: 0;
}
</style>
