---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'a'>

const { href, ...props } = Astro.props
---

<a href={href} class="border-b-2 border-b-slate-200 hover:border-b-slate-950 transition ease-linear duration-200" {...props}><slot /></a>
