---
import Link from '../components/Link.astro'
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="alternate" type="application/rss+xml" title="Slate Starter Template" href="/rss.xml">
		<link rel="icon" href="/favicon.svg" />

		<title>{title} | Slate</title>
	</head>
	<body class="text-lg text-slate-950">
		<header class="bg-slate-700 border-b-slate-600 border-b-8">
			<nav class="lg:flex lg:justify-between lg:items-center lg:container lg:mx-auto lg:max-w-5xl py-6">
				<div class="text-center lg:text-left"><a href="/" class="text-white text-2xl px-4 py-2 lg:ml-2 rounded-md lg:text-xl hover:bg-slate-600 transition ease-linear duration-200">Slate Blog</a></div>

				<div class="grid grid-cols-3 text-center lg:text-left lg:block lg:grid-cols-none mt-4 lg:mt-0">
					<a href="/" class="text-white lg:text-xl px-4 py-2 ml-2 rounded hover:bg-slate-600 transition ease-linear duration-200">About</a>
					<a href="/blog" class="text-white lg:text-xl px-4 py-2 ml-2 rounded hover:bg-slate-600 transition ease-linear duration-200">Blog</a>
					<a href="/uses" class="text-white lg:text-xl px-4 py-2 ml-2 rounded hover:bg-slate-600 transition ease-linear duration-200">Uses</a>
				</div>
			</nav>

			<div class="container mx-auto max-w-3xl p-4 lg:px-0">
				<slot name="heading" />
			</div>
		</header>

		<main class="container mx-auto mt-8 max-w-3xl px-4 lg:px-0">
			<slot />
		</main>

		<footer class="container mx-auto max-w-3xl text-center border-t-2 border-t-slate-200 p-4 mt-12">
			<p class="text-sm">Copyright &copy; 2023 John Doe. Built with <Link href="https://astro.build" target="_blank">Astro</Link> and <Link href="https://tailwindcss.com/" target="_blank">TailwindCSS</Link>. Hosted on <Link href="https://www.netlify.com/" target="_blank">Netlify</Link>.</p>
		</footer>
	</body>
</html>
